<?xml version="1.0"?>
<config>
    <modules>
        <Anlprz_Contactsus>
            <version>1.0.0</version>
        </Anlprz_Contactsus>
    </modules>
    <frontend>
        <routers>
            <contactsus>
                <use>standard</use>
                <args>
                    <module>Anlprz_Contactsus</module>
                    <frontName>contactsus</frontName>
                </args>
            </contactsus>
            <contacts>
                <args>
                    <modules>
                        <Anlprz_Contactsus before="Mage_Contacts">Anlprz_Contactsus</Anlprz_Contactsus>
                    </modules>
                </args>
            </contacts> 
        </routers>
        <layout>
            <updates>
                <contactsus>
                    <file>contactsus.xml</file>
                </contactsus>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<contactsus>
				<use>admin</use>
				<args>
					<module>Anlprz_Contactsus</module>
					<frontName>contactsus</frontName>
				</args>
			</contactsus>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<contactsus>
					<file>contactsus.xml</file>
				</contactsus>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <contactsus>
                <class>Anlprz_Contactsus_Model</class>
                <resourceModel>contactsus_mysql4</resourceModel>
            </contactsus>
            <contactsus_mysql4>
                <class>Anlprz_Contactsus_Model_Mysql4</class>
                <entities>
                    <contactsus>
                        <table>contactsusemail</table>
                    </contactsus>
                </entities>
            </contactsus_mysql4>
        </models>
        <resources>
            <anlprz_contactsus_setup>
                <setup>
                    <module>Anlprz_Contactsus</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </anlprz_contactsus_setup>
        </resources>
        
        <blocks>
            <contactsus>
                <class>Anlprz_Contactsus_Block</class>
            </contactsus>
        </blocks>
        <helpers>
            <contactsus>
                <class>Anlprz_Contactsus_Helper</class>
            </contactsus>
        </helpers>
        
    </global>
    <default>
        <contactsus>
                <general>
                        <enable_save>1</enable_save>
                </general>
        </contactsus>
    </default>
</config>